body {
    margin: 0;
    background-image: url("../includes/images/metal.jpg");
    justify-content: center;
    display: flex;
    font-family: "Berlin Sans FB";
}

section {
    background-image: linear-gradient(to bottom left, black, #333333);
    padding: 2vw;
    margin: 5vw;
    color: black;
    border: 5px groove grey;
    display: flex;
    flex-direction: column;
}

section div {
    margin: 1vw;
    display: flex;
    justify-content: left;
}

#debugLinks {
    display: flex;
    flex-direction: row;
    flex: 1;
    justify-content: right;
}

block {
    display: flex;
    flex-direction: column;
}

section h1 {
    background-image: linear-gradient(to right, cyan, lightgreen);
    background-position: 0 100%;
    background-size: 200% 100%;
    margin: 0.1vw;
    padding: 1vw;
    border-radius: 10px;
    transition: background-position ease-in-out 0.5s;
}

section h1:hover {
    background-position: 100% 100%;
}

section h2 {
    background: chartreuse;
    margin: 0.1vw;
    padding: 1vw;
    border-radius: 10px;
}

section label {
    background: aqua;
    margin: 0.1vw;
    padding: 1vw;
    border-radius: 10px;
    color: black;
    text-decoration: none;
}

section p {
    background: aquamarine;
    margin: 0.1vw;
    padding: 0.5vw;
    border-radius: 10px;
    flex: 2;
    height: 10vh;
}

section a {
    background-image: linear-gradient(to right, chartreuse, cyan);
    background-position: 0 100%;
    background-size: 200% 100%;
    margin: 0.1vw;
    padding: 1vw;
    border-radius: 10px;
    color: black;
    text-decoration: none;
    transition: background-position ease-in-out 0.5s;
}

section a:hover {
    background-position: 100% 100%;
}